


h1{
     color: blue
}

ul{
    li{
        background-color: grey;
    }


}


.bloque{
    height: 4vh;
    width: 100%;
    background-color: black;
    border-radius: 100%;
}

// .circulo {
//     width: 100px;
//     height: 100px;
//     border-radius: 100%;
//     border-color: black;
// }

// .logo{
//     width: 10%;
//     height: 10%;
//     border-radius: 100%;
//     border-color: black;
// }
